/*
!.gitignore
!celery_jobs/
!geospatial/
!google_analytics/
!gravatar/
!hashsum_download/
!hdfs_assetstore/
!jobs/
!jquery_widgets/
!metadata_extractor/
!mongo_search/
!oauth/
!provenance/
!s3_bucket_watch/
!thumbnails/
!user_quota/
!vega/
!worker/
